<!-- coacn_contents detail common parts -->

<table class="table">
  <h3 class="pb-2"><%= content.scheduled_date %></h3>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>【場所】</td>
        <td><%= content.place.name %></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>【メニュー】</td>
        <td><%= content.menu %></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>【生徒一覧】</td>
        <td><% content.agreements.each do |agreement| %>
          <p>
            <%= agreement.user.name || agreement.user.email  %>　<%= agreement.status %>
            <% if agreement.status == 'request' %>
                <%= link_to "承認する", agreement_url(agreement.id, params: {agreement: {status: :agree}}), method: :put %>
                / <%= link_to "拒否する", agreement_url(agreement.id, params: {agreement: {status: :deny}}), method: :put %>
            <% end %>
            <% if agreement.status == 'agree' || agreement.status == 'deny'%>
                <%= link_to "差し戻す", agreement_url(agreement.id, params: {agreement: {status: :request}}), method: :put %>
            <% end %>
           </p>
        <% end %></td>
      </tr>
    </tbody>
  </table>
