
<div class="container-fluid container">
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <% @contents.each do |content| %>
          <%= link_to coach_content_url(content), class: "list-group-item list-group-item-action flex-column align-items-start mb-3" do %>
          <table class="table">
            <h3 class="pb-2"><%= formated_date content.scheduled_date %></h3>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>【場所】</td>
                  <td><%= content.place.name %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>【生徒】</td>
                  <td><%= content.agreements.count %>人</td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
        <%= paginate @contents %>
      </div>
    </div>
    <div class="kalender col-6">
      <form method="get" action="<%= new_content_path %>">
        <p><input type="date" name="date" value="<%= params[:date] %>" required> <strong>必須</strong></p>
        <p><input type="submit" value="練習を登録する"></p>
      </form>
      <%= image_tag("kalender.jpg", style: 'width:100%') %>
    </div>
  </div>
</div>
