<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <% @contents.each do |content| %>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <p><%= formated_date content.scheduled_at %></p>
          <p>場所：<%= content.place.name %></p>
          <p>コーチ：<%= content.user.name %></p>
        </a>
        <% end %>
      </div>
    </div>
    <div class="kalender col-6">
      <form method="get" action="<%= contents_path %>">
        <p><input type="date" name="date" value="<%= params[:date] %>" required> <strong>必須</strong></p>
        <p><input type="submit" value="送信する"></p>
      </form>
      <%= image_tag("kalender.jpg", style: 'width:100%') %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Content', new_content_path %>
