

<div class="container center-block mx-auto">
  <div class="form-signin border border-secondary mx-auto mt-5">
    <h2 class="form-signin-heading text-center ">サインアップ</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field mx-auto">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, :class=>"form-control mb-3" %>
      </div>

      <div class="field mx-auto">
        <%= f.label "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control mb-3" %>
      </div>

      <div class="field mx-auto mb-4">
        <%= f.label "パスワード確認" %><br />
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control mb-3" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "サインアップ", :class=>"btn btn-primary btn-block mb-3" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
