<div class="container-fluid col">
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <% @agreements.each do |agreement| %>
          <%= link_to agreement_url(agreement), class: "list-group-item list-group-item-action flex-column align-items-start" do %>
            <p><%= formated_date agreement.content.scheduled_date %></p>
            <p>場所：<%= agreement.content.place.name %></p>
            <p>コーチ：<%= agreement.content.user.name %></p>
            <p>ステータス：<%= agreement.status %></p>
          <% end %>
        <% end %>
        <%= paginate @agreements %>
      </div>
    </div>
    <div class="kalender col-6">
      <form method="get" action="<%= contents_path %>">
        <p><input type="date" name="date" value="<%= params[:date] %>" required> <strong>必須</strong></p>
        <p><input type="submit" value="送信する"></p>
      </form>
      <%= image_tag("kalender.jpg", style: 'width:100%') %>
    </div>
  </div>
</div>
