<div class="container-fluid col">
  <div class="row">
    <div class="col-6">
      <div class="list-group">

        <% if @agreements.length == 0 %>
          <div class="container-fluid">
            <div class="alert alert-light text-center my-3" role="alert">
              申請している練習は0件です
            </div>
          </div>
        <% end %>

        <% @agreements.each do |agreement| %>
          <%= link_to agreement_url(agreement), class: "list-group-item list-group-item-action flex-column align-items-start mb-3" do %>
          <table class="table">
            <h3 class="pb-2"><%= formated_date agreement.content.scheduled_date %></h3>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>【場所】</td>
                  <td><%= agreement.content.place.name %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>【コーチ】</td>
                  <td><%= agreement.content.user.name %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>【ステータス】</td>
                  <td><%= agreement.status %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
        <%= paginate @agreements %>
      </div>
    </div>
    <div class="kalender col-6">
      <form method="get" action="<%= contents_path %>">
        <p><input type="date" name="date" value="<%= params[:date] %>" required> <strong>必須</strong></p>
        <p><input type="submit" value="検索" class="btn btn-primary btn-sm"></p>
      </form>
      <%= image_tag("kalender.jpg", style: 'width:100%') %>
    </div>
  </div>
</div>
