
<div class="container">
  <div class="container mb-4">
    <%= link_to("検索画面へ", contents_url, {class: "btn btn-primary"}) %>
    　<%= link_to("プロフィール変更",edit_self_url, {class: "btn btn-primary"}) %>
  </div>
  <h2 class="mb-4">マイプロフィール</h2>
  <div class="container border">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">gender</th>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <th scope="row">email</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row">profile</th>
          <td><%= @user.profile %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
